<!-- SOME TITLE and HEADER -->
<div>
    <h1>Participance</h1>
</div>

<!-- Unique Selling Proposition (headline, supporting text) -->
<div>
    <h3>Orchestrate volunteering events to help your community, society, and humanity.</h3>
</div>

<!-- A hero image --> 
<div>
    <img width="20%" src="../../assets/earth_hands.svg">
</div>

<!-- The benefits of your offering. -->
<div>
    <div>
        <img width="8%" src="../../assets/attach_money_black_24dp.svg">
        <h3>Our services are free of charge</h3>
    </div>
    <div>
        <img width="8%" src="../../assets/assignment_black_24dp.svg">
        <h3>Volunteers can sign up, attend, and submit proof of attendance with ease</h3>
    </div>
    <div>
        <img width="8%" src="../../assets/event_available_black_24dp.svg">
        <h3>Create, manage, and analyze events in one application</h3>
    </div>
</div>

<!-- Lead generation form (call to action) -->
<div>
    <button type="button" class="btn-primary"><a href="">Sign up for free!</a></button>
    <button type="button" class="btn-primary"><a href="https://github.ncsu.edu/CSC-WebApps-F21/WEBAPPS-11">Check out our GitHub!</a></button>    
    <button type="button" class="btn-primary"><a href="">Support Participance</a></button>    
</div>
