<!-- SOME TITLE and HEADER -->
<div>
    <!-- SOME LOGO HERE -->
    <h1>Wolf [Subject to change] Volunteer Manager</h1>
</div>

<!-- Unique Selling Proposition (headline, supporting text) -->
<!-- WHAT PHRASE? -->
 <!-- One stop shop for managing your volunteer organization -->

<!-- A hero image --> 
<section>
    <div>
        <!-- IMAGE HERE -->
        <!-- SELLING PROP AND TAGLINE -->
    </div>
</section>

<!-- The benefits of your offering. -->
<section id='benefits' class='benefits'>
    <div class="container">
        
    </div>

</section>



<!-- Lead generation form (call to action) -->
<button type="button" class="btn-primary">Check out our GitHub!</button>
<button type="button" class="btn-primary">Sign up for free!</button>



<p>landing-page works!</p>
