<div class="landing-page">
    <!-- Title and header -->
    <div class="landing-header flex-row-container flex-row-container-header desktop-header">
        <div class="flex-row-item-small">
            <h1 class="landing-logo">Participance</h1>
            <img class="site-icon" src="../../assets/site_icon.svg">
        </div>
        <div class="flow-row-item-small text-center landing-support">
            <h5>Make an impact today!</h5>
        </div>
        <!-- Lead generation form (call to action) -->
        <div class="flex-row-item-medium nav-link-container text-center">
            <a class="nav-link" href="https://github.ncsu.edu/CSC-WebApps-F21/WEBAPPS-11">Our GitHub</a>    
            <a class="nav-link" href="https://www.omrlp.com/">Support Participance</a>
            <a class="nav-link" href="/sign-up">Sign Up</a>
            <a class="nav-link" href="/log-in">Log In</a>
        </div>
    </div>
    <div class="mobile-header">
        <div class="mobile-header-">
            <button class="btn mobile-nav-button" onclick="document.getElementById('mobile-nav-links').classList.contains('hidden') ? document.getElementById('mobile-nav-links').classList.remove('hidden'): document.getElementById('mobile-nav-links').classList.add('hidden');"><img width="70%" src="../../assets/hamburger_icon.png"></button>
            <h1 class="mobile-logo">Participance</h1>
            <img class="site-icon" src="../../assets/site_icon.svg">
        </div>
        <div class="hidden mobile-nav-link-container" id="mobile-nav-links">
            <a class="mobile-nav-link" href="https://github.ncsu.edu/CSC-WebApps-F21/WEBAPPS-11">Our GitHub</a>    
            <a class="mobile-nav-link" href="https://www.omrlp.com/">Support Participance</a>
            <a class="mobile-nav-link" href="/sign-up">Sign Up</a>
            <a class="mobile-nav-link" href="/log-in">Log In</a>
        </div>
    </div>
    <!-- Unique Selling Proposition (headline, supporting text) -->
    <div class="selling-proposition">
        <h4 class="proposition-headline">Organize and attend volunteering events to help your community, society, and humanity.</h4>

        <div class="bg-image-skyline">

            <div class="proposition-details">
                <div class="proposition-detail">
                    <img class="proposition-icon" src="../../assets/check_circle_green_24dp.svg">
                    Find events based on your preferences
                </div>
                <div class="proposition-detail">
                    <img class="proposition-icon" src="../../assets/check_circle_green_24dp.svg">
                    Keep track of events that you've attended
                </div>
                <div class="proposition-detail">
                    <img class="proposition-icon" src="../../assets/check_circle_green_24dp.svg">
                    Follow the impact of different events and organizations
                </div>
            </div>
        </div>
    </div>

    <!-- The benefits of your offering. -->
    <div class="benefits text-center">
        <div class="benefit-detail">
            <img class="benefit-icon" width="35%" src="../../assets/assignment_black_24dp.svg">
            <h3 class="benefit-text">Search, sign up for, and attend events with ease</h3>
        </div>
        <div class="benefit-detail">
            <img class="benefit-icon" width="35%" src="../../assets/attach_money_black_24dp.svg">
            <h3 class="benefit-text">Our services are completely free of charge</h3>
        </div>
        <div class="benefit-detail">
            <img class="benefit-icon" width="35%" src="../../assets/event_available_black_24dp.svg">
            <h3 class="benefit-text">Create, manage, and analyze events in one application</h3>
        </div>
    </div>

    <!-- A hero image --> 
    <div class="hero-image-container">
        <div class="bg-image-water"></div>
        <div class="flex-row-container-hero">
            <div class="flex-row-item-medium hero-image">
                <img width="80%" src="../../assets/earth_hands.svg">
            </div>
            <div class="flex-row-item-medium hero-text">
                <h4>Do good, feel good, be good.</h4>
                <h4>Give back to those in need.</h4>
            </div>
        </div>  
    </div>
</div>