<div class="jumbotron bg-transparent text-center">
  <div class="card text-center">

    <div class="spinner-container">
      <h1 class="loading">Please Wait...</h1>
      <mat-spinner class="main-spin" *ngIf="displaySpinner"></mat-spinner>
    </div>

    <div class="card-block signin">
      <button mat-raised-button class="btn btn-social-icon signinButton" (click)="signInWithAzureAd()"><span class="fa fa-google">Sign in with Microsoft</span>
      </button>
    </div>
  </div>
  <div class="card-block">
    <button mat-raised-button class="btn btn-danger" (click)="signOut()">Sign out</button>
  </div>
</div>
