<h1 class="page-header">Manage Event</h1>
<hr>

<h2>Manage Signups for {{eventName}}</h2>

<table mat-table [dataSource]="dataSource">
    <!-- The User Column -->
    <ng-container matColumnDef="user_id">
        <th mat-header-cell *matHeaderCellDef> Attendee </th>
        <td mat-cell *matCellDef="let signup"> {{userMap.get(signup.user_id)?.user_name ?? signup.user_id}} </td>
    </ng-container>

    <!-- The User Email Column -->
    <!-- <ng-container matColumnDef="user_email">
        <th mat-header-cell *matHeaderCellDef> Attendee Email </th>
        <td mat-cell *matCellDef="let signup"> {{userMap.get(signup.user_id)?.user_email}} </td>
    </ng-container> -->

    <!-- The Status Column -->
    <ng-container matColumnDef="is_waitlisted">
        <th mat-header-cell *matHeaderCellDef> Attendee Status </th>
        <td mat-cell *matCellDef="let signup"> {{signup.is_waitlisted ? 'Waitlisted' : 'Registered'}} </td>
    </ng-container>

    <!-- The Timestamp Column -->
    <ng-container matColumnDef="waitlist_timestamp">
        <th mat-header-cell *matHeaderCellDef> Waitlist Time </th>
        <td mat-cell *matCellDef="let signup"> {{signup.waitlist_timestamp ?? 'N/A'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickedRow(row)"></tr>
</table>