<h1 class="page-header">Manage Event</h1>
<hr>

<h2>Manage Signups for {{eventName}}</h2>


<table mat-table [dataSource]="dataSource" multiTemplateDataRows>
    <!-- The User Column -->
    <ng-container matColumnDef="user_id">
        <th mat-header-cell *matHeaderCellDef> User ID </th>
        <td mat-cell *matCellDef="let signup"> {{signup.user_id}} </td>
    </ng-container>

    <!-- The User Name Column -->
    <ng-container matColumnDef="user_name">
        <th mat-header-cell *matHeaderCellDef> Attendee Name </th>
        <td mat-cell *matCellDef="let signup"> {{userMap.get(signup.user_id)?.user_name}} </td>
    </ng-container>

    <!-- The User Email Column -->
    <ng-container matColumnDef="user_email">
        <th mat-header-cell *matHeaderCellDef> Attendee Email </th>
        <td mat-cell *matCellDef="let signup"> {{userMap.get(signup.user_id)?.user_email}} </td>
    </ng-container>

    <!-- The Status Column -->
    <ng-container matColumnDef="is_waitlisted">
        <th mat-header-cell *matHeaderCellDef> Attendee Status </th>
        <td mat-cell *matCellDef="let signup"> {{signup.is_waitlisted ? 'Waitlisted' : 'Registered'}} </td>
    </ng-container>

    <!-- The Timestamp Column -->
    <ng-container matColumnDef="waitlist_timestamp">
        <th mat-header-cell *matHeaderCellDef> Waitlist Time </th>
        <td mat-cell *matCellDef="let signup"> {{signup.is_waitlisted ? (signup.waitlist_timestamp | date:'medium') : 'N/A'}} </td>
    </ng-container>

    <!-- The Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let signup">
            <mat-icon matTooltip='Delete' matTooltipShowDelay="600" (click)="deleteSignup(signup)" style="font-family: 'Material Icons'">delete</mat-icon>
        </td>
    </ng-container>

    <!-- The Expansion Cell/Row -->
    <!-- https://www.freakyjolly.com/expand-collapse-single-or-multiple-rows-in-angular-98-material-table-multiple-single/#Dataset_of_Students Helped -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell [attr.colspan]="displayedColumns.length" *matCellDef="let signup"> 
            <div class="row signup-detail" [@detailExpand]="signup == expandedElement ? 'expanded' : 'collapsed'">
                <mat-spinner *ngIf="this.loading"></mat-spinner>
                <mat-list role="list">
                    <div mat-subheader>Attendance for {{userMap.get(signup.user_id)?.user_name}}</div>
                    <mat-list-item role="listitem" *ngIf="!expandedElementFound">No attendance recorded for {{userMap.get(signup.user_id)?.user_name}} at {{eventName}}.</mat-list-item>
                    <mat-list-item role="listitem" *ngIf="expandedElementFound"><strong>Hours Recorded: </strong> {{this.expandedElementHours}}</mat-list-item>
                    <mat-list-item role="listitem" *ngIf="expandedElementFound"><strong>Comments Noted: </strong> {{this.expandedElementComment}}</mat-list-item>
                    <mat-list-item role="listitem" *ngIf="expandedElementFound"><strong>⭐Star Rating: </strong>{{this.expandedElementStar}}</mat-list-item>
                </mat-list>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickedRow(row)"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="signup-detail-row"></tr>
</table>