.nav-container {
    height: 100%;
}  
.nav-link-container {
    background: #CC0000;
    line-height: 2rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    width: 240px;
}
.nav-link {
    color: white;
}
.landing-logo {
    display: inline;
    margin-left: 10px;
    color: white;
    font-weight: 500;
}
.site-icon {
    width: 20%;
    margin-left: 10px;
}