<form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create a New Event</mat-card-title>
    </mat-card-header>

    <mat-form-field>
      <mat-label>Event Name</mat-label>
      <input id="eventName" formControlName="event_name" type="text" matInput required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter a start date</mat-label>
      <input id="start_timestamp" formControlName="start_date" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter a end date</mat-label>
      <input id="end_timestamp" formControlName="end_date" matInput [matDatepicker]="pickerEnd">
      <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Start Time</mat-label>
      <input id="start_time" formControlName="start_time" matInput type="time">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>End Time</mat-label>
      <input id="end_time" formControlName="end_time" matInput type="time">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Maximum Volunteers</mat-label>
      <input id="maximum_volunteers" formControlName="num_of_volunteers" matInput type="number">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Waitlist Capacity</mat-label>
      <input id="maximum_waitlist" formControlName="waitlist_num" matInput type="number">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Location or Address</mat-label>
      <input id="address" formControlName="address" matInput type="text">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Event Organizer</mat-label>
      <input id="organizer" formControlName="event_organizer" matInput type="number">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <input id="description" formControlName="description" matInput type="text">
    </mat-form-field>

    <mat-form-field>
      <!-- TODO FIX THIS -->
      <mat-label>Event Image</mat-label>
      <input type="text" formControlName="image" matInput>
    </mat-form-field>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Create</button>
      <button mat-raised-button color="accent" type="reset" (click)="onClear()">Clear</button>
    </mat-card-actions>
  </mat-card>
</form>
