<h1 class="page-header">My Registered Events</h1>
<hr>
<div class="page-content">
    <h2>Hello, {{profile?.givenName}}</h2>
    <p>You are currently registered for TODO events.</p>
    <p>Since joining, you have contributed TODO hours.</p>
</div>

<mat-tab-group>
    <mat-tab label="Upcoming">
        <div fxLayout="row wrap" fxLayoutGap="5vw" class="cardContainer">
            <ng-container *ngFor="let event of this.dataSourceInfo | async">
                <app-event-card *ngIf="event.event_end > this.now" [eventItem]="event"></app-event-card>
            </ng-container>
        </div>
    </mat-tab>
    <mat-tab label="Recent">
        <div fxLayout="row wrap" fxLayoutGap="5vw" class="cardContainer">
            <ng-container *ngFor="let event of this.dataSourceInfo | async">
                <app-event-card *ngIf="event.event_end > this.aWeekAgo && event.event_end <= this.now" [eventItem]="event"></app-event-card>
            </ng-container>
        </div>
    </mat-tab>
    <mat-tab label="Past">
        <div fxLayout="row wrap" fxLayoutGap="5vw" class="cardContainer">
            <ng-container *ngFor="let event of this.dataSourceInfo | async">
                <app-event-card *ngIf="event.event_end <= this.aWeekAgo" [eventItem]="event"></app-event-card>
            </ng-container>
        </div>
    </mat-tab>
  </mat-tab-group>