<h1>My Registered Events</h1>
<hr>
<div>
    <h3>Hello, {{this.name}}</h3>
    <h5>You are currently registered for TODO events.</h5>
    <h5>Since joining, you have contributed TODO hours</h5>
</div>

<mat-tab-group>
    <mat-tab label="Upcoming">
        <div fxLayout="row wrap" fxLayoutGap="5vw" class="cardContainer">
            <ng-container *ngFor="let event of this.dataSourceInfo | async">
                <app-event-card fxFlex.xs="100%" fxFlex.lt-lg="50%" fxFlex.lg="33%" *ngIf="event.event_end > this.now" [eventItem]="event"></app-event-card>
            </ng-container>
        </div>
    </mat-tab>
    <mat-tab label="Recent">
        <div fxLayout="row wrap" fxLayoutGap="5vw" class="cardContainer">
            <ng-container *ngFor="let event of this.dataSourceInfo | async">
                <app-event-card fxFlex.xs="100%" fxFlex.lt-lg="50%" fxFlex.lg="33%" *ngIf="event.event_end > this.aWeekAgo && event.event_end <= this.now" [eventItem]="event"></app-event-card>
            </ng-container>
        </div>
    </mat-tab>
    <mat-tab label="Past">
        <div fxLayout="row wrap" fxLayoutGap="5vw" class="cardContainer">
            <ng-container *ngFor="let event of this.dataSourceInfo | async">
                <app-event-card fxFlex.xs="100%" fxFlex.lt-lg="50%" fxFlex.lg="33%" *ngIf="event.event_end <= this.aWeekAgo" [eventItem]="event"></app-event-card>
            </ng-container>
        </div>
    </mat-tab>
  </mat-tab-group>