<!-- This is the template event card -->
<!-- Only shows if there is an event item associated with it. -->
<mat-card class="event-card" *ngIf="eventItem">
    <!-- Header information (might change) -->
    <!-- Maybe reference https://medium.com/@kschmidt.karl/angular-by-failure-part-iv-utilizing-angular-cards-with-flex-layout-b186affd9a79 for ideas-->
    <mat-card-header>
        <mat-card-title>{{eventItem.event_name}}</mat-card-title>
        <mat-card-subtitle>{{eventDate}}</mat-card-subtitle>
        <mat-card-subtitle>{{eventTimes}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="eventImage" [alt]="">
    <mat-card-content>
        <!-- TODO Add location and other info needed. -->
        <!-- One idea https://zoaibkhan.com/blog/truncate-multiple-line-text-in-angular-like-a-pro/ -->
        <!-- <p>{{eventInformation}}</p> -->
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>More Details</button>
    </mat-card-actions>
</mat-card>