<div class="page-content">
  <div class="metrics">
    <mat-card class="metric-card">
      <mat-card-header>
        <!-- TODO: maybe icon -->
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>Active Users</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="metric-value">
          {{ users }}
        </p>
      </mat-card-content>
    </mat-card>    
  </div>
  <div class="metrics">
    <mat-card class="metric-card">
      <mat-card-header>
        <!-- TODO: maybe icon -->
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>Application Uptime</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="metric-value">
            {{ uptimeFormatted }}
        </p>
      </mat-card-content>
    </mat-card>   
  </div>
</div>

